// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts {
	width: 32cm;
	margin: 0 auto;
	.post {
		border: 1px solid #0f0;
	}
}